<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Gérer la pagination</title>
</head>
<body>
<nav>
    <ul class="nav">
  
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/1">Liste url</a>
        </li>
      
      </ul>
</nav>    


    <h1>Champs simple</h1>
    <p>Exercice : Produire un code JS qui permet de prendre une URL via un input et de retourner une chaine de caractère sous la forme "item-x" ou x correspond à l'ID unique de l'élément (l'URL) sauvegardé en base.</p>

    <form method="POST" role="form" action="/add" class="form-horizontal"style="padding-bottom: 20px;"  >
    
    <span class="input-group-text" >Votre URL</span>

    <input type="text" class="form-control"  name="url">
    
    <button type="submit" > Envoyer</button>
    
    
    
    </form>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
</body>
</html>